.btn-1{
    font-size: 20px;
    color: #fff;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    width: 10em;
    margin: 20px;
    transition: 0.6s;
    border: none;
}
.btn-1:hover{
    color: black;
    box-shadow: 
    0px 0px 5px rgb(255, 255, 255),
    0px 0px 20px rgb(233, 235, 161),
    0px 0px 30px rgb(233, 235, 161),
    0px 0px 40px rgb(243, 2, 2)
    ;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}